LOCALLINK_SYSTEM_ID=smoke
COMPOSE_PROJECT_NAME=locallink_smoke
PM2_HOME=.locallink/pm2/smoke

LOCALLINK_BIND_HOST=127.0.0.1
LOCALLINK_API_PORT=4210
LOCALLINK_DASHBOARD_ENABLED=true
LOCALLINK_DASHBOARD_PORT=4211
LOCALLINK_DEFAULT_PORT_START=5200
LOCALLINK_ENABLE_PHASE2_ADVISOR=false
